.header-form {
    padding: 70px 0 0;
    width: 100%;
    margin: 0 auto;
}

.header-form__logo {
    padding: 40px 0 0;
}

.header-form__logo:hover {
    opacity: 0.8;
}

.header-form__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 0;
    padding-top: 40px;
}

@media screen and (max-width: 790px) {
    .header-form {
        margin: 122px auto 0;
    }

    .header-form__title {
        padding-top: 36px;
    }
}

@media screen and (max-width: 766px) {
    .header-form {
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .header-form {
        margin: 0 auto 0;
        text-align: center;
        padding-top: 56px;
    }

    .header-form__title {
        padding-top: 50px;
    }

    .header-form__logo {
        padding: 0;
    }
}