.register {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 396px;
    align-items: center;
    padding-bottom: 70px;
}

.register__form {
    padding: 62px 0 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.register__label {
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 10px;
    max-height: 12px;
}

.register__input {
    border-radius: 8px;
    background: #F9F9F9;
    border: none;
    padding: 15px 0 15px 15px;
}

.register__input::placeholder {
    font-size: 13px;
    line-height: 16px;
}

.register__input_type_error {
    border-bottom: 2px solid #FF4062;
}

.register__input-error {
    display: block;
    color: #FF4062;
    font-size: 10px;
    line-height: 12px;
    min-height: 12px;
    padding-top: 10px;
}

@media screen and (max-width: 790px) {
    .register__form {
        padding: 40px 0 70px;
    }

    .register__input-error {
        padding-top: 5px;
    }
}

@media screen and (max-width: 766px) {
    .register {
        padding: 0 15px 10px;
    }
}

@media screen and (max-width: 400px) {
    .register {
        padding-bottom: 0;
    }

    .register__form {
        padding: 102px 30px 267px;
        max-width: 260px;
    }

    .register__input-error {
        padding-top: 5px;
    }
}