.search-form {
    padding: 135px 70px 50px;
}

.search-form__block {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
}

.search-form__image {
    width: 34px;
    height: 34px;
}

.search-form__input {
    border: none;
    width: 100%;
    height: 50px;
}

.search-form__input::placeholder {
    padding: 0 0 15px;
    color: #A0A0A0;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
}

.search-form__button {
    background: url(../../../images/search-button_white.svg) no-repeat;
    min-width: 80px;
    height: 34px;
    border-radius: 48px;
    border: none;
    background-color: #000000;
    background-position: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.search-form__button:hover {
    opacity: 0.8;
}

.search-form__error {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

@media screen and (max-width: 790px) {
    .search-form {
        padding: 95px 30px 50px;
    }

    .search-form__input {
        padding-left: 46px;
    }
}

@media screen and (max-width: 400px) {
    .search-form {
        padding: 98px 14px 51px;
    }

    .search-form__input {
        padding-left: 0;
    }

    .search-form__input::placeholder {
        font-size: 18px;
        line-height: 22px;
        text-align: start;
    }

    .search-form__image {
        display: none;
    }
}