.student {
    padding: 110px 70px 85px;
}

.student__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -4%;
    margin: 0;
    border-bottom: 1px solid #000000;
    padding-bottom: 23px;
}

.student-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student__info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-top: 66px;
}

.student__name {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    margin: 0;
    padding-bottom: 18px;
}

.student__work {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 26px;
    margin: 0;
}

.student__about {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 99px;
    margin: 0;
}

.student__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding-bottom: 26px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    min-height: 17px;
}

.student__link:hover {
    opacity: 0.8;
}

.student__photo {
    display: block;
    object-fit: cover;
    width: 270px;
    height: 327px;
    border-radius: 10px;
    align-self: flex-start;
    justify-self: flex-end;
    padding-top: 66px;
}

@media screen and (max-width: 790px) {
    .student {
        padding: 90px 50px 65px;
    }

    .student__name {
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 15px;
    }

    .student__work {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        padding-bottom: 20px;
    }
    
    .student__about {
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 85px;
        max-width: 364px;
    }

    .student__photo {
        width: 255px;
        height: 307px;
        padding-top: 64px;
    }
}

@media screen and (max-width: 500px) {
    .student-container {
        flex-direction: column-reverse;
    }
    
}

@media screen and (max-width: 400px) {
    .student {
        padding: 65px 14px 26px;
    }

    .student__title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
        letter-spacing: -0.72px;
    }

    .student-container {
        flex-direction: column-reverse;
    }

    .student__info {
        padding-top: 40px;
    }

    .student__name {
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 20px;
        letter-spacing: -1.16px;
    }

    .student__work {
        font-size: 11px;
        line-height: 16px;
    }
    
    .student__about {
        font-size: 11px;
        line-height: 16px;
        padding-bottom: 40px;
        max-width: 292px;
    }

    .student__photo {
        width: 292px;
        height: 352px;
        padding-top: 60px;
    }
}